.u-section-1 .u-sheet-1 {
  min-height: 821px;
}

.u-section-1 .u-product-1 {
  min-height: 617px;
  margin-top: 50px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 18px 22px;
}

.u-section-1 .u-gallery-1 {
  width: 540px;
  height: 433px;
  margin: 19px auto 0 8px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(1, auto);
  grid-gap: 0px;
}

.u-section-1 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  padding: 10px;
}

.u-section-1 .u-text-1 {
  margin: -353px auto 0 606px;
}

.u-section-1 .u-text-2 {
  margin: 20px 394px 0 606px;
}

.u-section-1 .u-text-3 {
  margin: 12px 8px 0 606px;
}

.u-section-1 .u-icon-1 {
  width: 40px;
  height: 40px;
  margin: -491px auto 0 24px;
  padding: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 471px 20px 0 auto;
  padding: 10px 43px 10px 42px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 406px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 406px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 406px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 186px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 186px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 186px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-gallery-1 {
    width: 520px;
    height: 417px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -337px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-gallery-1 {
    width: 320px;
    height: 257px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -177px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 224px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}